
.project-body-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #F0F0F0;
}

.project-background {
  width: 100%;
  min-height: 100vh;
  padding: 9px;
}

.project-description-wrapper {
  min-height: 90px;
}

.project-body-wrapper .projects-wrapper {
  padding-top: 150px;
}

@media (max-width: 1168px){
  .project-body-wrapper .projects-wrapper {
    padding-top: 120px;
  }
}

@media (max-width: 868px) {
  .project-body-wrapper .projects-wrapper {
    padding-top: 100px;
  }
}

@media (max-width: 568px) {
  .project-body-wrapper .projects-wrapper {
    padding-top: 90px;
  }
}

