
.screens-wrapper {
  min-height: 100vh;
  padding-top: 40px !important;
  padding-bottom: 180px;
} 

.screens-wrapper .sub-reveal-container {
  margin-top: 0;
}

.screens-wrapper .p-desc {
  margin-bottom: 10px;
}

.project-img {
  width: 100%;
  margin-bottom: 80px;
  /* height: 980px; */
  background: linear-gradient(180deg, rgba(171, 209, 207, 0.49) 0%, rgba(171, 209, 207, 0.25) 31.25%, rgba(255, 255, 255, 0) 100%);
}

.project-img img {
  width: 100%;
}


@media (max-width: 868px) {
 .project-img {
   margin-bottom: 70px;
 }
}

@media (max-width: 768px) {
  .project-img {
    margin-bottom: 60px;
  }
}

@media (max-width: 668px) {
  .project-img {
    margin-bottom: 50px;
  }
}

@media (max-width: 568px) {
  .project-img {
    margin-bottom: 40px;
  }
}

@media (max-width: 468px) {
  .project-img {
    margin-bottom: 30px;
  }
}