.project-tools {
  width: 100%;
  height: 110px;
  /* margin-bottom: 50px; */
  /* background: rgba(90,90,90,0.1); */
}

.project-tool {
  min-width: 100%;
  height: 100%;
  float: left;
  /* background: teal; */
}

.project-tool .p-desc {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1em;
}

.tool-capsule-wrapper {
  margin-top: 5px;
  height: 30px;
  overflow: hidden;
  float: left;
  /* transform: translateY(60px); */
  /* opacity: 0; */
  /* display: inline-block; */
  margin-right: 10px;
}

.tool-capsule-wrapper span {
  line-height: 30px;
  display: inline-block;
  min-width: 50px;
  padding: 0 15px;
  background: rgba(235,233,205, 0.7);
  border-radius: 17.5px;
  color: #2C6664;
  font-weight: 400;
  font-size: 0.9em;
}

@media(max-width: 1468px) {
  .project-tools {
    height: 130px;
  }
}

@media(max-width: 1268px){
  .tool-capsule-wrapper span {
    font-size: .88em;
  }
}

@media(max-width: 1068px) {
  .tool-capsule-wrapper span {
    font-size: .86em;
  }
}

@media(max-width: 868px) {
  .tool-capsule-wrapper span {
    font-size: .84em;
  }
}

@media(max-width: 768px) {
  .project-tools {
    height: 150px;
  }
}

@media(max-width: 668px) {
  .tool-capsule-wrapper span {
    font-size: .81em;
  }
}

@media(max-width: 468px) {
  .tool-capsule-wrapper span {
    font-size: .79em;
  }
  .project-tools {
    height: 170px;
  }
}

@media(max-width: 368px) {
  .project-tools {
    height: 180px;
  }
}
