.top-layover {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #194881;
  z-index: 1000;
}

.top-layover-container, .top-layover-runner{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.top-layover-container {
  z-index: 950;
}

.top-layover-logo {
  width: 130px;
  height: 130px;
  opacity: 0;
}

.top-layover-logo svg {
  opacity: 1;
  width: 160px
}

.top-loading {
  font-family: 'Poppins', Helvetica, Verdana;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: #B1B099;
  height: 40px;
  opacity: 1;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.top-layover-runner {
  z-index: 900;
}

.top-runner {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

@media (max-width: 568px){
  .top-layover-logo {
    width: 150px;
    height: 169px;
  }
  .top-layover-logo svg {
    width: 150px
  }
  .top-loading {
    font-size: 0.98em;
  }
}

@media (max-width: 468px) {
  .top-layover-logo {
    width: 140px;
    height: 158px;
  }
  .top-layover-logo svg {
    width: 140px
  }
  .top-loading {
    font-size: 0.95em;
  }
}

@media (max-width: 368px) {
  .top-layover-logo {
    width: 130px;
    height: 147px;
  }

  .top-layover-logo svg {
    width: 130px
  }

  .top-loading {
    font-size: 0.9em;
  }
} 