.box-button {
  min-width: 150px;
  padding: 0 35px;
  height: 50px;
  flex-direction: row;
  background: #C6C4AF;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease-in;
}
.box-button:hover{
  cursor: pointer;
  background: #347A78;
  transition: all 0.2s ease-in;
}
.box-button:hover svg path{
  fill: #D6D4BE;
  transition: all 0.2s ease-in;
}
.box-button:hover span{
  color: #D6D4BE;
  transition: all 0.2s ease-in;
}
.box-button:focus {
  outline: none;
}
.box-button svg {
  width: 25px;
  margin-right: 10px;
}
.box-button span {
  font-weight: 500;
  font-size: 1.2em;
  color: #347A78;
  transition: all 0.2s ease-in;
}