.privacy-container {
  width: 900px;
  min-height: 200px;
  padding: 50vh 0 150px 0;
  margin: 0 auto;
}


.privacy-container h1 {
  color: #448683;
  margin-bottom: 40px;
}

.privacy-container p {
  color: #666262;
  line-height: 2.2em;
  text-align: justify;
  margin-bottom: 60px;
}

.thesite {
  color: orange;
  font-weight: 500;
}

.privacy-container h3 {
  color: #448683;
  margin-bottom: 20px;
}

.privacy-container .sub-reveal-container {
  margin-bottom: 45px;
}

.privacy-container h4 {
  color: #448683;
  margin-bottom: 20px;
}


@media(max-width: 1368px) {
  .privacy-container {
    width: 800px;
  }
}

@media(max-width: 1268px) {
  .privacy-container {
    width: 750px;
  }
}

@media(max-width: 1168px) {
  .privacy-container {
    width: 700px;
  }
}

@media(max-width: 1068px) {
  .privacy-container {
    width: 650px;
  }
}

@media(max-width: 968px) {
  .privacy-container {
    width: 650px;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .privacy-container {
    padding-top: calc(50vh + 60px);
  }

}

@media(max-width: 868px) {
  .privacy-container {
    width: 75%;
  }
}

@media(max-width: 768px) {
  .privacy-container {
    width: 80%;
  }
}

@media(max-width: 668px) {
  .privacy-container {
    width: 85%;
  }
}

@media(max-width: 468px) {
  .privacy-container {
    width: 90%;
  }
}