.section-block-container {
  width: 100%;
  height: 250px;
  /* background: #F0F0F0; */
}

.section-block-background{
  width: calc(100% - 18px);
  height: 100%;
  margin: 0 9px;
}

.section-block-left, .section-block-right{
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

/* .section-block-right {
  background: lemonchiffon;
} */

.left-block{
  position: relative;
  top: 90px;
  /* background: lightblue; */
}



/* .block-front { */
  /* position: relative; */
  /* z-index: 100; */
  /* color: #377370; */
/* } */

.right-block{
  position: absolute;
  top: 90px;
  /* height: 50px; */
  width: 55%;
  /* background: orange; */
}

/* .right-block p{ */
  /* color: #377370; */
/* } */
.section-block-right svg {
  transition: all 0.2s ease-in;
}

.section-block-right p:hover svg {
  cursor: pointer;
  transform: translateX(15px);
  transition: all 0.2s ease-in;
}

.block-arrow {
  /* background: lightcoral; */
  display: inline-block;
  width: 50px;
  margin-left: 40px;
  margin-top: 5px;
}

.block-arrow svg {
  margin-top: 3px;
  width: 9px;
  transition: all 0.2s ease-in;
}



/* .block-arrow:hover {
  cursor: pointer;
} */

/* .block-arrow:hover svg{
  transform: translateX(15px);
  transition: all 0.15s ease-in-out;
} */

@media (max-width: 1468px) {
  .right-block {
    width: 60%;
  }
}

@media (max-width: 1368px) {

}

@media (max-width: 1268px) {
  .right-block {
    width: 65%;
  }
}

@media (max-width: 1168px) {
  .right-block {
    width: 70%;
  }
}

@media (max-width: 1068px) {
  .right-block {
    width: 75%;
  }
}

@media (max-width: 968px) {
  .right-block {
    width: 85%;
  }
}

@media (max-width: 868px) {
  .right-block {
    width: 92%;
  }
}

@media (max-width: 768px) {
  .section-block-container {
    height: 280px;
  }
  .section-block-left, .section-block-right{
    width: 100%;
    height: 150px;
  }
  .section-block-right {
    height: 130px;
  }
  /* .left-block, .right-block {
    width: 560px;
    right: 0;
    left: 0;
    margin: 0 auto
  } */
  .left-block{
    top: 90px;
  }
  .right-block{
    top: 0px;
    width: 560px;
  }
  .right-block .reveal{
    width: 65%;
  }
}

@media (max-width: 668px) {
  /* .left-block, .right-block {
    width: 530px;
  } */
  .right-block {
    width: 530px;
  }
  .right-block .reveal{
    width: 70%;
  }
}

@media (max-width: 568px) {
  /* .left-block, .right-block {
    width: 430px;
  } */
  .right-block .reveal{
    width: 80%;
  }
  .right-block {
    width: 430px;
  }
}

@media (max-width: 468px) {
  /* .left-block, .right-block {
    width: 96%;
  } */
  .right-block .reveal{
    width: 95%;
  }
  .right-block {
    width: 96%;
  }
  .block-arrow {
    margin-left: 20px;
  }
}

@media (max-width: 368px) {
  .right-block .reveal{
    width: 100%;
  }
}
