
.other-projects {
  background: #F0F0F0;
} 

.other-proj-wrapper {
  width: 1200px;
}

.github-page {
  color: #ABA98F;
}

.github-page:hover {
  color: #40817E
}

.proj-wrapper {
  min-height: 260px;
}

.project-lists {
  width: 100%;
}

.project-list-wrapper {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  list-style: none;
}

.design-list-wrapper {
  position: relative;
  width: 80%;
  min-height: 100px;
  margin: 0 auto;
  list-style: none;
  /* background: red; */
  margin-top: -15px;
}

.project-list {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  overflow: hidden;
}

.design-list-wrapper .project-list{
  margin-bottom: 20px;
}

.proj-list {
  display: inline;
}

.proj-list-number {
  float: left;
  margin-right: 25px;
  color: #596469;
  height: 35px;
  padding-top: 2px;
  align-items: center;
}
.p-list-number {
  line-height: 35px;
  width: 50px
}

.p-list-number svg {
  width: 30px;
}

.proj-list-name {
  color: #40817E;
  display: inline-block;
  margin: 0;
  line-height: 30px;
  transition: all 0.18s ease-in;
}

.p-list-name {
  line-height: 30px;
}

.proj-list-name svg {
  width: 18px;
  padding-top: 13px;
  margin-right: 10px;
}

.proj-list-name:hover {
  color: #ABA98F;
  transition: all 0.18s ease-in;
}

.proj-list-name svg path {
  transition: all 0.18s ease-in;
}

.proj-list-name:hover svg path {
  fill: #40817E;
  transition: all 0.18s ease-in;
}
.Dribbble{
  color: #C466A4
}

.Behance{
  color: #3786CE
}

.Dribbble:hover {
  color: #EA76C3
}

.Behance:hover {
  color: #5BA3E5;
}

@media (max-width: 1368px){
  .project-list-wrapper,
  .design-list-wrapper {
    width: 85%;
  }
}

@media (max-width: 1268px) {
  .project-list-wrapper,
  .design-list-wrapper {
    width: 90%;
  }
}

@media (max-width: 1168px) {
  .project-list-wrapper,
  .design-list-wrapper {
    width: 95%;
  }
}

@media (max-width: 1068px) {
  .project-list-wrapper,
  .design-list-wrapper {
    width: 100%;
  }
}

@media (max-width: 868px) {
  .project-list {
    width: 100%;
  }
  .project-list-wrapper {
    height: 540px;
  }
}


@media (max-width: 568px) {
  .project-list {
    margin-bottom: 5px;
  }
  .proj-list-number {
    margin-right: 10px;
  }
}


