
.right-icons, .left-icons {
  width: 35px;
  height: 330px;
  position: absolute;
  right: 180px;
  bottom: 10vh;
  overflow: hidden;
}

.left-icons{
  top: calc(100vh - 45vh);
  overflow: visible;
}

.social-navicons {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  transform: translateY(100%);
}

.header-social-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.social-navicons a, .header-social-icons a, .footer-navicons a{
  width: 100%;
  height: 35px;
}

.social-navicons a svg:hover,
.header-social-icons a svg:hover,
.footer-navicons a svg:hover {
  transform: scale(1.2);
  transition: all .15s ease;
}


.social-navicons a svg, .header-social-icons a svg, .footer-navicons a svg {
  width: 100%;
  height: 100%;
  transition: all 0.15s ease-in;
}

.header-social-icons {
  width: 100%;
  height: 100%;
  opacity: 0;
  justify-content: space-evenly;
  transform: translateY(60px);
}

.footer-navicons {
  flex-direction: row;
  width: 100%;
  height: 35px;
}

@media (max-width: 1268px){
  .right-icons {
    right: 144px; 
    width: 34px;
  }
  .social-navicons a {
    height: 34px;
  }
}

@media (max-width: 1168px) {
  .right-icons {
    right: 128px;
    width: 33px;
  }
  .social-navicons a {
    height: 33px;
  }
}

@media (max-width: 1068px) {
  .right-icons {
    right: 112px;
    width: 32px;
  }
  .social-navicons a {
    height: 32px;
  }
}

@media (max-width: 968px) {
  .right-icons {
    right: 96px;
    width: 31px;
  }
  .social-navicons a {
    height: 31px;
  }
}

/* set container screen to 720px when screen is on portrait */
@media screen and (max-width: 896px) and (orientation: landscape) {
  .left-icons {
    top: calc(720px - 380px);
  }
}

@media (max-width: 868px) {
  .right-icons {
    right: 80px;
    width: 25px;
  }
  .social-navicons a {
    height: 25px;
  }
}

@media (max-width: 768px) {
  .right-icons {
    right: 50%;
    bottom: 35px;
    margin: 0 -135px 0 0;
    width: 270px;
    height: 22px;
  }
  .left-icons {
    opacity: 0;
  }
  .header-social-icons {
    opacity: 1;
    transform: translateY(0px);
  }
  .header-social-icons a{
    display: none;
  }
  .social-navicons {
    flex-direction: row;
    justify-content: center;
  }
  .social-navicons a {
    height: 22px;
  }
}

@media (max-width: 668px) {
  .right-icons {
    bottom: 18px;
  }
}

@media (max-width: 468px) {
  .right-icons {
    bottom: 14px;
  }
}

@media (max-width: 368px) {
  .right-icons {
    bottom: 10px;
  }
}