.navbar-menu {
  height: 90px;
  width: 90px;
  float: right;
  margin-right: 180px;
  position: relative;
  top: -7.5px;
}

.navbar-menu div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.front {
  z-index: 780;
}

.middle {
  z-index: 760;
}

.back {
  z-index: 740;
}

.middle-span, .back-span {
  width: 0;
  height: 0;
  border-radius: 50%;
}

.front-text {
  color: #EBE9CD;
  font-size: 1.18em;
  letter-spacing: -0.01em;
}

.front-text:hover {
  cursor: pointer;
}

.front svg {
  width: 25px;
}

@media (max-width: 1468px) {
   .navbar-menu {
     margin-right: 167px;
   }
}

@media (max-width: 1368px) {
  .navbar-menu {
    margin-right: 152px;
  }
}

@media (max-width: 1268px) {
  .navbar-menu {
    width: 85px;
    height: 85px;
    margin-right: 139px;
  }
  .front svg {
    width: 24px
  }
  .front-text{
    font-size: 1.17em;
  }
}

@media (max-width: 1168px) {
  .navbar-menu {
    margin-right: 126px;
  }
  .front svg {
    width: 23px
  }
  .front-text {
    font-size: 1.15em;
  }
}

@media (max-width: 1068px) {
  .navbar-menu {
    margin-right: 112px;
    width: 80px;
    height: 80px;
  }
  .front-text {
    font-size: 1.14em;
  }
}

@media (max-width: 968px) {
  .navbar-menu {
    margin-right: 96px;
  }
  .front svg {
    width: 22px
  }
}

@media (max-width: 868px) {
  .navbar-menu {
    width: 70px;
    height: 70px;
    margin-right: 80px;
  }
  .front svg {
    width: 21px
  }
  .front-text {
    font-size: 1.13em;
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    width: 65px;
    height: 65px;
    margin-right: 64px;
  }
  .front svg {
    width: 20px
  }
  .front-text {
    font-size: 1.11em;
  }
}

@media (max-width: 668px) {
  .navbar-menu {
    top: -10px;
    margin-right: 48px;
    width: 60px;
    height: 60px;
  }
  .front svg {
    width: 19px
  }
  .front-text {
    font-size: 1.12em;
  }
}

@media (max-width: 568px) {
  .navbar-menu {
    width: 55px;
    height: 55px;
    margin-right: 25px;
    top: -7.5px;
  }
  .front svg {
    width: 17px
  }
  .front-text {
    font-size: 1em;
  }
}

@media (max-width: 468px) {
  .navbar-menu {
    top: -3px;
    width: 48px;
    height: 48px;
    margin-right: 25px;
  }
  .front svg {
    width: 13px
  }
  .front-text {
    font-size: 0.82em;
  }
}