.navbar-container {
  width: 1600px;
  height: 75px;
  position: absolute;
  top: 50px;
  z-index: 800;
}

@media (max-width: 1268px) {
  .navbar-container{
    top: 47.5px;
    height: 70px;
  }
}

@media (max-width: 1068px) {
  .navbar-container {
    top: 45px;
  }
}

@media (max-width: 1068px) {
  .navbar-container {
    top: 42.5px;
    height: 60px;
  }
}

@media (max-width: 968px) {
  .navbar-container {
    top: 40px;
  }
}

@media (max-width: 868px) {
  .navbar-container {
    top: 37.5px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    top: 35px;
    height: 45px;
  }
}

@media (max-width: 668px) {
  .navbar-container {
    top: 32.5px;
    height: 40px;
  }
}

@media (max-width: 568px) {
  .navbar-container {
    top: 30px;
  }
}

@media (max-width: 468px) {
  .navbar-container {
    top: 27.5px;
  }
}

@media (max-width: 368px) {
  .navbar-container {
    top: 25px;
  }
}