.menu-s {
  height: 100vh;
  float: left;
}

.menu-left{
  width: 30%
}

.square-img {
  opacity: 0;
  position: absolute;
  bottom: 100px;
  left: 180px;
  transition: all 0.6s ease-in;
}

.show-img {
  opacity: 1;
  transition: all 0.6s ease-in;
}

.menu-middle {
  width: 40%;
}

.menu-right {
  width: 30%;
}

.nav-container {
  width: 100%;
  height: calc(100% - 80px);
}

.nav-footer {
  width: 100%;
  height: 80px;
}

@media (max-width: 1268px){
  .square-img {
    left: 144px;
    width: 200px;
  }
}

@media (max-width: 1168px) {
  .square-img {
    left: 128px;
    width: 180px;
  }
}

@media (max-width: 1068px) {
  .square-img {
    left: 112px;
    width: 160px;
  }
}

@media (max-width: 968px) {
  .square-img {
    left: 96px;
    width: 140px;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .menu-s {
    height: 720px;
  }
}

@media (max-width: 868px) {
  .square-img {
    left: 80px;
    width: 120px;
  }
  .nav-container {
    height: calc(100% - 65px);
  }
  .nav-footer {
    height: 65px;
  }
}

@media (max-width: 768px) {
  .menu-left{
    width: 0;
    overflow: hidden;
  }
  .square-img {
    width: 0;
  }
  .nav-container {
    height: calc(100% - 50px);
  }
  .nav-footer {
    height: 50px;
  }
  .menu-middle {
    width: 100%;
    height: calc(100% - 60px);
  }
  .menu-right {
    width: 100%;
    height: 60px;
  }
}

@media (max-width: 668px) {
  .menu-middle {
    height: calc(100% - 50px);
  }
  .menu-right {
    height: 50px;
  }
  .nav-container {
    height: calc(100% - 42px);
  }

  .nav-footer {
    height: 42px;
  }
}

@media (max-width: 568px) {
  .menu-middle {
    height: calc(100% - 50px);
  }
  .menu-right {
    height: 50px;
  }
  .nav-container {
    height: calc(100% - 36px);
  }
  .nav-footer {
    height: 36px;
  }
}

@media (max-width: 468px) {
  .menu-middle {
    height: calc(100% - 42px);
  }
  .menu-right {
    height: 42px;
  }
}

@media (max-width: 368px) {
  .menu-middle {
    height: calc(100% - 38px);
  }
  .menu-right {
    height: 38px;
  }
}