.menu-container {
  width: 1600px;
  height: 100vh;
  z-index: 700;
  display: none;
  position: absolute;
}

.menu-wrapper,
.menu-runner {
  width: 1600px;
  height: 100vh;
  position: absolute;
}

.menu-wrapper {
  z-index: 650;
  overflow: hidden;
}

.menu-runner {
  z-index: 600;
}

@media screen and (max-width: 896px) and (orientation: landscape) {

  .menu-wrapper,
  .menu-runner {
    height: 720px;
  }
}